#reservar {
  margin-top: 50px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: center;
  h2 {
    font: $tittleh2;
    margin: 35px 0;
    color: #2096fd;
    @include responsive(mobile) {
      font-size: 2rem;
    }
  }
  .reservar__form {
    form {
      font-family: "Poppins", sans-serif;
      font-size: 0.8rem;
      color: white;
      text-align: left;
      gap: 20px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      label,
      h5 {
        font-weight: bolder;
        margin: 0;
        font-size: 0.8rem;
      }
      input {
        display: block;
        width: 100%;
        margin-top: 3px;
        color: rgb(211, 205, 205);
      }
      select {
        display: block;
        width: 100%;
        margin-top: 3px;
        color: rgb(211, 205, 205);
      }
      .form__nivel {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        div {
          input {
            width: auto;
            margin: 0 10px 0 30px;
            cursor: pointer;
          }
          label {
            font-weight: normal;
            color: rgb(211, 205, 205);
          }
        }
      }
      textarea {
        color: rgb(211, 205, 205);
        border: 2px solid #2096fd;
        margin-top: 3px;
        width: 100%;
      }
      .form__button {
        margin: 20px 0;
        align-self: flex-end;
        input {
          @include btn;
          padding: 0.5em 1em;
          &::after {
            @include btnAfter;
          }
          &:hover {
            @include btnHover;
          }
          &:active {
            @include btnActive;
          }
        }
      }
    }
  }
}
#indicaciones {
  background: $bgGradient;
  padding: 0;
  .indicaciones__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    max-width: 1500px;
    margin: 0 auto 30px;
    h2 {
      font: $tittleh2;
      letter-spacing: 2px;
      text-align: center;
      color: white;
      width: 50%;
      @include responsive(mobile) {
        font-size: 2rem;
      }
    }
    .indicaciones__texto {
      width: 50%;
      p {
        font: $fontParrafo;
        color: white;
        padding: 0 100px;
        line-height: 1.7rem;
      }
    }
    .indicaciones__img {
      width: 50%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
#mediosContacto {
  h2 {
    font: $tittleh2;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
    color: #2096fd;
    @include responsive(mobile) {
      font-size: 2rem;
    }
  }
  .mediosContacto__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    @include responsive(tablet) {
      gap: 50px;
    }
    article {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      @include responsive(tablet) {
        gap: 30px;
      }
      .contacto__medios {
        display: flex;
        align-items: center;
        gap: 30px;
        .medios__img {
          width: 50px;
          height: auto;
          i {
            color: white;
            font-size: 3.5rem;
            &.fa-regular {
              font-size: 3rem;
            }
          }
        }
        p {
          font: $fontParrafo;
          color: white;
          margin-bottom: 0;
        }
      }
    }
  }
}
