/* TRAVESIA */
#travesia {
  margin: 50px 0 100px 0;
  h2 {
    margin: 0 15px;
    font: $tittleh2;
    color: #2096fd;
    text-align: center;
  }
  .dia1 {
    h4 {
      font-family: "lemon milk";
      font-size: 1.3rem;
      font-weight: bold;
      color: #2096fd;
      text-align: center;
    }
    p {
      text-align: justify;
      font: $fontParrafo;
      color: white;
    }
    .dia1__imagen1 {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .dia2 {
    h4 {
      font-family: "lemon milk";
      font-size: 1.3rem;
      font-weight: bold;
      color: #2096fd;
      text-align: center;
    }
    p {
      text-align: justify;
      font: $fontParrafo;
      color: white;
    }
    .dia2__imagen2 {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* CAT SKIING */

#catSkiing {
  margin: 50px 0 100px 0;
  h2 {
    margin: 0 15px;
    font: $tittleh2;
    color: #2096fd;
    text-align: center;
  }
  .dia1 {
    h4 {
      font-family: "lemon milk";
      font-size: 1.3rem;
      font-weight: bold;
      color: #2096fd;
      text-align: center;
    }
    p {
      text-align: justify;
      font: $fontParrafo;
      color: white;
    }
    .dia1__imagen1 {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .dia2 {
    h4 {
      font-family: "lemon milk";
      font-size: 1.3rem;
      font-weight: bold;
      color: #2096fd;
      text-align: center;
    }
    p {
      text-align: justify;
      font: $fontParrafo;
      color: white;
    }
    .dia2__imagen2 {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* HELISKIING */

#heliSkiing {
  margin: 50px 0 100px 0;
  h2 {
    margin: 0 15px;
    font: $tittleh2;
    color: #2096fd;
    text-align: center;
  }
  .dia1 {
    h4 {
      font-family: "lemon milk";
      font-size: 1.3rem;
      font-weight: bold;
      color: #2096fd;
      text-align: center;
    }
    p {
      text-align: justify;
      font: $fontParrafo;
      color: white;
    }
    .dia1__imagen1 {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .dia2 {
    h4 {
      font-family: "lemon milk";
      font-size: 1.3rem;
      font-weight: bold;
      color: #2096fd;
      text-align: center;
    }
    p {
      text-align: justify;
      font: $fontParrafo;
      color: white;
    }
    .dia2__imagen2 {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* AVENTURA COMPLETA */

#aventura {
  margin: 50px 0 100px 0;
  h2 {
    margin: 0 15px;
    font: $tittleh2;
    color: #2096fd;
    text-align: center;
  }
  .dia1 {
    h4 {
      font-family: "lemon milk";
      font-size: 1.3rem;
      font-weight: bold;
      color: #2096fd;
      text-align: center;
    }
    p {
      text-align: justify;
      font: $fontParrafo;
      color: white;
    }
    .dia1__imagen1 {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .dia2 {
    h4 {
      font-family: "lemon milk";
      font-size: 1.3rem;
      font-weight: bold;
      color: #2096fd;
      text-align: center;
    }
    p {
      text-align: justify;
      font: $fontParrafo;
      color: white;
    }
    .dia2__imagen2 {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .dia3 {
    h4 {
      font-family: "lemon milk";
      font-size: 1.3rem;
      font-weight: bold;
      color: #2096fd;
      text-align: center;
    }
    p {
      text-align: justify;
      font: $fontParrafo;
      color: white;
    }
    .dia3__imagen3 {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .dia4 {
    h4 {
      font-family: "lemon milk";
      font-size: 1.3rem;
      font-weight: bold;
      color: #2096fd;
      text-align: center;
    }
    p {
      text-align: justify;
      font: $fontParrafo;
      color: white;
    }
    .dia4__imagen4 {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .dia5 {
    h4 {
      font-family: "lemon milk";
      font-size: 1.3rem;
      font-weight: bold;
      color: #2096fd;
      text-align: center;
    }
    p {
      text-align: justify;
      font: $fontParrafo;
      color: white;
    }
    .dia5__imagen5 {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .dia6 {
    h4 {
      font-family: "lemon milk";
      font-size: 1.3rem;
      font-weight: bold;
      color: #2096fd;
      text-align: center;
    }
    p {
      text-align: justify;
      font: $fontParrafo;
      color: white;
    }
    .dia6__imagen6 {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* TRAER Y NO TRAER */

.servicios {
  background: $bgGradient;
  color: white;
  font: $fontParrafo;
  .servicios__noTraer {
    height: 350px;
    .noTraer__imagenes {
      display: flex;
      justify-content: space-around;
      .noTraer__img1 {
        width: 35%;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
      .noTraer__img2 {
        width: 35%;
        height: auto;
        align-self: flex-end;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .noTraer__lista {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      h5 {
        font-family: "lemon milk";
        font-size: 1.1rem;
        font-weight: bold;
        color: #2096fd;
        text-align: center;
        text-decoration: underline;
      }
    }
  }
  .servicios__traer {
    /* OVERFLOW HIDDEN SOLUCIONAR BUG DE FADE EN AOS */
    overflow-x: hidden;
    /* OVERFLOW HIDDEN SOLUCIONAR BUG DE FADE EN AOS */
    margin-top: 100px;
    height: 350px;
    .traer__lista {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      h5 {
        font-family: "lemon milk";
        font-size: 1.1rem;
        font-weight: bold;
        color: #2096fd;
        text-align: center;
        text-decoration: underline;
      }
    }
    .traer__imagenes {
      display: flex;
      justify-content: space-around;
      .traer__img1 {
        width: 35%;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
      .traer__img2 {
        width: 35%;
        height: auto;
        align-self: flex-end;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

/* BOTONES */

.botones {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-evenly;
  .botones__reservar {
    text-align: center;
    p {
      margin-bottom: 3rem;
    }
    a {
      @include btn;
      padding: 1em 2em;
      &::after {
        @include btnAfter;
      }
      &:hover {
        @include btnHover;
      }
      &:active {
        @include btnActive;
      }
    }
  }
  .botones__paquetes {
    text-align: center;
    p {
      margin-bottom: 3rem;
    }
    a {
      @include btn;
      padding: 1em 2em;
      &::after {
        @include btnAfter;
      }
      &:hover {
        @include btnHover;
      }
      &:active {
        @include btnActive;
      }
    }
  }
}
