/* RESPONSIVE */
/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  width: 100%;
}

@font-face {
  font-family: "lemon milk";
  src: url("../fuentes/lemon_milk/LEMONMILK-Bold.otf"), url("../fuentes/lemon_milk/LEMONMILK-BoldItalic.otf"), url("../fuentes/lemon_milk/LEMONMILK-Light.otf"), url("../fuentes/lemon_milk/LEMONMILK-LightItalic.otf"), url("../fuentes/lemon_milk/LEMONMILK-Medium.otf"), url("../fuentes/lemon_milk/LEMONMILK-MediumItalic.otf"), url("../fuentes/lemon_milk/LEMONMILK-Regular.otf"), url("../fuentes/lemon_milk/LEMONMILK-RegularItalic.otf");
}
a {
  text-decoration: none;
}

.rojo {
  color: rgb(197, 27, 27);
  font-weight: normal;
}

.noBorder {
  background-color: black;
  border: 0;
  color: white;
  border-bottom: 2px solid #2096fd;
  outline: none;
}

/* IMAGENES CABECERA PAGINAS */
.container__banner {
  height: 100vh;
}
.container__banner .banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.container__banner .banner h2 {
  font-family: "lemon milk";
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 2rem;
  opacity: 0.4;
}
.container__banner .banner-paq {
  background-image: url("../img/paquetes/paquetesbanner.jpg");
  background-position: top;
}
.container__banner .banner-tra {
  background-image: url("../img/paquetes/travesiabanner.jpg");
}
.container__banner .banner-cat {
  background-image: url("../img/paquetes/cat-skiingbanner.jpg");
}
.container__banner .banner-heli {
  background-image: url("../img/paquetes/heli.jpg");
  background-position: top;
}
.container__banner .banner-comp {
  background-image: url("../img/paquetes/aventura-completabanner.jpg");
  background-position: top;
}
.container__banner .banner-alo {
  background-image: url("../img/alojamiento/alojamientobanner.jpg");
  background-position: top;
}
.container__banner .banner-cont {
  background-image: url("../img/contacto/contactobanner.jpg");
}

/*TERMINA IMAGENES CABECERA PAGINAS */
.nextBack {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 900px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.nextBack .banner__back a {
  display: block;
  width: 70px;
}
.nextBack .banner__back a img {
  width: 100%;
  height: auto;
  transform: rotate(-90deg);
}
.nextBack .back__none a img {
  display: none;
}
.nextBack .banner__next a {
  display: block;
  width: 70px;
}
.nextBack .banner__next a img {
  width: 100%;
  height: auto;
  transform: rotate(90deg);
}
.nextBack .next__none a img {
  display: none;
}

/* ANIMACION BANNERS */
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 0.5;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 0.5;
  }
}
/* ANIMACION BANNERS TERMINA */
/* EXITO.HTML */
#bgExito {
  background-image: url("../img/bgexito.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 50px;
}
#bgExito .headerExito {
  display: flex;
  justify-content: center;
  align-items: center;
}
#bgExito .headerExito .headerExito__logoContainer {
  width: 200px;
}
#bgExito .headerExito .headerExito__logoContainer img {
  width: 100%;
}
#bgExito .exitoTexto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  margin-top: 18vh;
}
#bgExito .exitoTexto h1 {
  font: bold 2.5rem "lemon milk";
  color: black;
  font-size: 3rem;
  text-align: center;
}

#header {
  z-index: 901;
}
#header .header__barra {
  width: 100%;
  padding: 5px 0px;
  position: fixed;
  top: 0;
  background-color: black;
  z-index: 902;
}
#header .header__barra h1 {
  margin: 0;
  font-family: "lemon milk";
  text-align: center;
  font-size: 1rem;
  color: #2096fd;
  font-weight: bold;
}
@media (min-width: 993px) {
  #header .logo__mobile {
    display: none;
  }
  #header .header__menu {
    margin-top: 28px;
    padding: 25px 20px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.119);
    transition: all 0.8s;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  #header .header__menu ul li {
    display: inline-block;
    position: relative;
    z-index: 6;
  }
  #header .header__menu ul li button {
    background-color: transparent;
    border: transparent;
    color: white;
    transition: all 0.3s;
    outline: none;
  }
  #header .header__menu ul li button:hover {
    color: #2a62b2;
  }
  #header .header__menu ul li a {
    color: white;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 10px;
    background-color: transparent;
    display: inline-block;
    transition: all 0.3s;
  }
  #header .header__menu ul li a:hover {
    color: #2a62b2;
  }
  #header .header__menu .menu__redes {
    display: none;
  }
  #header .header__menu.menuBlack {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 8px 15px rgb(32, 150, 253);
    padding: 0 20px;
  }
  #header .header__menu ul.menu__principal {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    list-style: none;
    font-family: "lemon milk";
  }
  #header .header__menu ul.menu__principal .menu__containerLogo a #logo {
    width: 200px;
    height: auto;
  }
  #header .header__menu ul.menu__principal li ul {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.119);
    inset: 0px auto auto -68px !important;
    text-align: center;
    border-top: 0.2rem solid rgba(0, 118, 193, 0.5607843137);
    transition: all 0.8s;
  }
  #header .header__menu ul.menu__principal li ul li a {
    font-size: 0.8rem;
  }
  #header .header__menu ul.menu__principal li ul.menuBlack {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 8px 15px rgb(32, 150, 253);
  }
}

.container__vidPromo {
  height: 100vh;
}
.container__vidPromo .vidPromo {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.container__vidPromo .vidPromo video {
  height: 100%;
}
@media (min-width: 992px) {
  .container__vidPromo .vidPromo video {
    transform: scale(1.1);
  }
}
@media (min-width: 1500px) {
  .container__vidPromo .vidPromo video {
    transform: scale(1.3);
  }
}

.contenedor {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-areas: ". principal principal principal principal principal principal principal principal principal  principal ." "paquetes paquetes paquetes paquetes paquetes paquetes paquetes paquetes paquetes paquetes paquetes paquetes" "testimonios testimonios testimonios testimonios testimonios testimonios testimonios testimonios testimonios testimonios testimonios testimonios" "ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion ubicacion";
}

#principal {
  margin-top: 50px;
  grid-area: principal;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}
#principal h2 {
  font: bold 2.5rem "lemon milk";
  color: #2096fd;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  #principal h2 {
    font-size: 2rem;
  }
}
#principal .principal__texto {
  width: 60%;
}
#principal .principal__texto p {
  font: normal 1rem "Poppins", sans-serif;
  color: white;
  text-align: center;
  line-height: 28px;
}
#principal .principal__boton {
  width: 40%;
  text-align: center;
}
#principal .principal__boton a {
  position: relative;
  color: white;
  font-family: "lemon milk";
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.5em rgb(32, 150, 253);
  background-color: rgb(42, 98, 178);
  border: 0.25em solid rgb(32, 150, 253);
  border-radius: 1em;
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 1em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  padding: 1em 4em;
}
#principal .principal__boton a::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 98, 178, 0.781);
  filter: blur(2em);
  opacity: 0.7;
  pointer-events: none;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
#principal .principal__boton a:hover {
  color: rgb(42, 98, 178);
  background-color: rgb(32, 150, 253);
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
}
#principal .principal__boton a:active {
  box-shadow: 0 0 0.6em 0.25em rgb(32, 150, 253), 0 0 2.5em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.5em 0.25em rgb(32, 150, 253);
}

/* SECCION PAQUETES INDEX.html Y PAQUETES.html */
#indexPaquetes,
#paquetes {
  grid-area: paquetes;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  align-content: center;
  gap: 50px;
}
#indexPaquetes .indexPaquetes__imagenes,
#paquetes .indexPaquetes__imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
#indexPaquetes .indexPaquetes__imagenes .imagenes__container,
#paquetes .indexPaquetes__imagenes .imagenes__container {
  overflow: hidden;
  width: 50%;
  height: auto;
}
#indexPaquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img1,
#paquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
  background-image: url("../img/paquetes/travesia.jpg");
  background-position: center;
}
#indexPaquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img2,
#paquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
  background-image: url("../img/paquetes/cat-skiing.jpg");
  background-position: center;
}
#indexPaquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img3,
#paquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
  background-image: url("../img/paquetes/heli.jpg");
}
#indexPaquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img4,
#paquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s;
  background-image: url("../img/paquetes/aventura-completa.jpg");
  background-position: center;
}
#indexPaquetes .indexPaquetes__imagenes .imagenes__container a,
#paquetes .indexPaquetes__imagenes .imagenes__container a {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  font-family: "lemon milk";
  color: white;
  opacity: 0.3;
  display: block;
  padding: 250px 0px;
  transition: all 0.5s;
}
#indexPaquetes .paquetes__texto,
#paquetes .paquetes__texto {
  text-align: center;
}
#indexPaquetes .paquetes__texto .texto__paq,
#paquetes .paquetes__texto .texto__paq {
  width: 30%;
  text-align: justify;
  margin: 30px auto 50px auto;
  line-height: 2rem;
}
#indexPaquetes .paquetes__texto h3,
#paquetes .paquetes__texto h3 {
  font-family: "lemon milk";
  color: #2096fd;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
#indexPaquetes .paquetes__texto h4,
#paquetes .paquetes__texto h4 {
  font: normal 1rem "Poppins", sans-serif;
  color: white;
  margin-bottom: 1.8rem;
}
#indexPaquetes .paquetes__texto a,
#paquetes .paquetes__texto a {
  position: relative;
  color: white;
  font-family: "lemon milk";
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.5em rgb(32, 150, 253);
  background-color: rgb(42, 98, 178);
  border: 0.25em solid rgb(32, 150, 253);
  border-radius: 1em;
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 1em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0.5em 2em;
}
#indexPaquetes .paquetes__texto a::after,
#paquetes .paquetes__texto a::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 98, 178, 0.781);
  filter: blur(2em);
  opacity: 0.7;
  pointer-events: none;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
#indexPaquetes .paquetes__texto a:hover,
#paquetes .paquetes__texto a:hover {
  color: rgb(42, 98, 178);
  background-color: rgb(32, 150, 253);
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
}
#indexPaquetes .paquetes__texto a:active,
#paquetes .paquetes__texto a:active {
  box-shadow: 0 0 0.6em 0.25em rgb(32, 150, 253), 0 0 2.5em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.5em 0.25em rgb(32, 150, 253);
}

#indexPaquetes {
  margin-top: 100px;
}

@media (min-width: 993px) {
  #indexPaquetes .indexPaquetes__imagenes .imagenes__img1:hover,
#paquetes .indexPaquetes__imagenes .imagenes__img1:hover {
    transform: scale(1.2);
    background-image: linear-gradient(rgba(0, 0, 0, 0.344), rgba(0, 0, 0, 0.256)), url("../img/paquetes/travesia.jpg");
  }
  #indexPaquetes .indexPaquetes__imagenes .imagenes__img1:hover a,
#paquetes .indexPaquetes__imagenes .imagenes__img1:hover a {
    transform: scale(1.3);
    opacity: 1;
    letter-spacing: 3px;
  }
  #indexPaquetes .indexPaquetes__imagenes .imagenes__img2:hover,
#paquetes .indexPaquetes__imagenes .imagenes__img2:hover {
    transform: scale(1.2);
    background-image: linear-gradient(rgba(0, 0, 0, 0.344), rgba(0, 0, 0, 0.256)), url("../img/paquetes/cat-skiing.jpg");
  }
  #indexPaquetes .indexPaquetes__imagenes .imagenes__img2:hover a,
#paquetes .indexPaquetes__imagenes .imagenes__img2:hover a {
    transform: scale(1.3);
    opacity: 1;
    letter-spacing: 3px;
  }
  #indexPaquetes .indexPaquetes__imagenes .imagenes__img3:hover,
#paquetes .indexPaquetes__imagenes .imagenes__img3:hover {
    transform: scale(1.2);
    background-image: linear-gradient(rgba(0, 0, 0, 0.344), rgba(0, 0, 0, 0.256)), url("../img/paquetes/heli.jpg");
  }
  #indexPaquetes .indexPaquetes__imagenes .imagenes__img3:hover a,
#paquetes .indexPaquetes__imagenes .imagenes__img3:hover a {
    transform: scale(1.3);
    opacity: 1;
    letter-spacing: 3px;
  }
  #indexPaquetes .indexPaquetes__imagenes .imagenes__img4:hover,
#paquetes .indexPaquetes__imagenes .imagenes__img4:hover {
    transform: scale(1.2);
    background-image: linear-gradient(rgba(0, 0, 0, 0.344), rgba(0, 0, 0, 0.256)), url("../img/paquetes/aventura-completa.jpg");
  }
  #indexPaquetes .indexPaquetes__imagenes .imagenes__img4:hover a,
#paquetes .indexPaquetes__imagenes .imagenes__img4:hover a {
    transform: scale(1.3);
    opacity: 1;
    letter-spacing: 3px;
  }
}
/*TERMINA SECCION PAQUETES INDEX.html Y PAQUETES.html */
/* TESTIMONIOS */
#testimonios {
  grid-area: testimonios;
  margin-top: 35px;
  background: linear-gradient(black, #2a62b2, black);
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#testimonios h2 {
  font: bold 2.5rem "lemon milk";
  letter-spacing: 3px;
  color: #2096fd;
}
@media (max-width: 768px) {
  #testimonios h2 {
    font-size: 2rem;
  }
}
#testimonios .testimonios__container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
#testimonios .testimonios__container h5 {
  font: normal 1rem "Poppins", sans-serif;
  color: white;
  margin-top: 20px;
}
#testimonios .testimonios__container p {
  width: 300px;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 0.8rem;
}
#testimonios img {
  width: 100px;
  height: 100px;
  box-shadow: 14px 14px 15px 0px rgba(0, 0, 0, 0.64);
}

/* TERMINA TESTIMONIOS */
/* UBICACION Y CONTACTO */
#indexUbicacion {
  grid-area: ubicacion;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
#indexUbicacion .indexUbicacion__mapa {
  width: 30%;
  height: 350px;
}
#indexUbicacion .indexUbicacion__mapa iframe {
  width: 100%;
  height: 100%;
}
#indexUbicacion .indexUbicacion__formulario {
  width: 40%;
  height: auto;
}
#indexUbicacion .indexUbicacion__formulario h2 {
  font: bold 2.5rem "lemon milk";
  margin: 15px 0px;
  text-align: center;
  color: #2096fd;
}
@media (max-width: 768px) {
  #indexUbicacion .indexUbicacion__formulario h2 {
    font-size: 2rem;
  }
}
#indexUbicacion .indexUbicacion__formulario form {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: white;
  text-align: left;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#indexUbicacion .indexUbicacion__formulario form input {
  color: rgb(211, 205, 205);
  width: 100%;
  display: block;
  margin-top: 3px;
}
#indexUbicacion .indexUbicacion__formulario form textarea {
  color: rgb(211, 205, 205);
  width: 100%;
  display: block;
  margin-top: 3px;
  border: 2px solid #2096fd;
}
#indexUbicacion .indexUbicacion__formulario form .form__button {
  width: 100px;
  align-self: flex-end;
  margin-top: 15px;
}
#indexUbicacion .indexUbicacion__formulario form .form__button input {
  position: relative;
  color: white;
  font-family: "lemon milk";
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.5em rgb(32, 150, 253);
  background-color: rgb(42, 98, 178);
  border: 0.25em solid rgb(32, 150, 253);
  border-radius: 1em;
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 1em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}
#indexUbicacion .indexUbicacion__formulario form .form__button input::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 98, 178, 0.781);
  filter: blur(2em);
  opacity: 0.7;
  pointer-events: none;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
#indexUbicacion .indexUbicacion__formulario form .form__button input:hover {
  color: rgb(42, 98, 178);
  background-color: rgb(32, 150, 253);
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
}
#indexUbicacion .indexUbicacion__formulario form .form__button input:active {
  box-shadow: 0 0 0.6em 0.25em rgb(32, 150, 253), 0 0 2.5em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.5em 0.25em rgb(32, 150, 253);
}
#indexUbicacion .indexUbicacion__newsletter {
  margin-top: 50px;
  text-align: center;
}
#indexUbicacion .indexUbicacion__newsletter h3 {
  font-family: "lemon milk";
  font-weight: bold;
  font-size: 1.5rem;
  color: #2096fd;
}
#indexUbicacion .indexUbicacion__newsletter p {
  font: normal 1rem "Poppins", sans-serif;
  margin: 15px auto;
  width: 30%;
  color: white;
}
#indexUbicacion .indexUbicacion__newsletter .newsletter__formulario {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#indexUbicacion .indexUbicacion__newsletter .newsletter__formulario input {
  width: 250px;
}
#indexUbicacion .indexUbicacion__newsletter .newsletter__formulario .button {
  position: relative;
  color: white;
  font-family: "lemon milk";
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.5em rgb(32, 150, 253);
  background-color: rgb(42, 98, 178);
  border: 0.25em solid rgb(32, 150, 253);
  border-radius: 1em;
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 1em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0.5em 2em;
  margin-left: 30px;
}
#indexUbicacion .indexUbicacion__newsletter .newsletter__formulario .button::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 98, 178, 0.781);
  filter: blur(2em);
  opacity: 0.7;
  pointer-events: none;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
#indexUbicacion .indexUbicacion__newsletter .newsletter__formulario .button:hover {
  color: rgb(42, 98, 178);
  background-color: rgb(32, 150, 253);
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
}
#indexUbicacion .indexUbicacion__newsletter .newsletter__formulario .button:active {
  box-shadow: 0 0 0.6em 0.25em rgb(32, 150, 253), 0 0 2.5em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.5em 0.25em rgb(32, 150, 253);
}

.jornadaIdeal {
  margin-top: 50px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.jornadaIdeal h2 {
  font: bold 2.5rem "lemon milk";
  margin: 0 15px 30px;
  text-align: center;
  color: #2096fd;
}
@media (max-width: 768px) {
  .jornadaIdeal h2 {
    font-size: 2rem;
  }
}
.jornadaIdeal p {
  font: normal 1rem "Poppins", sans-serif;
  text-align: center;
  width: 60%;
  color: white;
}

#paquetes {
  margin-top: 50px;
  gap: 20px;
}
@media (max-width: 768px) {
  #paquetes {
    margin-top: 30px;
  }
}
#paquetes .paquetes__texto {
  margin-top: 20px;
}
#paquetes .paquetes__texto .texto__paq {
  margin-top: 0;
}
#paquetes h3 {
  font-family: "lemon milk";
  color: #2096fd;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

/* TRAVESIA */
#travesia {
  margin: 50px 0 100px 0;
}
#travesia h2 {
  margin: 0 15px;
  font: bold 2.5rem "lemon milk";
  color: #2096fd;
  text-align: center;
}
@media (max-width: 768px) {
  #travesia h2 {
    font-size: 2rem;
  }
}
#travesia .dia1 h4 {
  font-family: "lemon milk";
  font-size: 1.3rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
}
#travesia .dia1 p {
  text-align: justify;
  font: normal 1rem "Poppins", sans-serif;
  color: white;
}
#travesia .dia1 .dia1__imagen1 img {
  width: 100%;
  height: auto;
}
#travesia .dia2 h4 {
  font-family: "lemon milk";
  font-size: 1.3rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
}
#travesia .dia2 p {
  text-align: justify;
  font: normal 1rem "Poppins", sans-serif;
  color: white;
}
#travesia .dia2 .dia2__imagen2 img {
  width: 100%;
  height: auto;
}

/* CAT SKIING */
#catSkiing {
  margin: 50px 0 100px 0;
}
#catSkiing h2 {
  margin: 0 15px;
  font: bold 2.5rem "lemon milk";
  color: #2096fd;
  text-align: center;
}
@media (max-width: 768px) {
  #catSkiing h2 {
    font-size: 2rem;
  }
}
#catSkiing .dia1 h4 {
  font-family: "lemon milk";
  font-size: 1.3rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
}
#catSkiing .dia1 p {
  text-align: justify;
  font: normal 1rem "Poppins", sans-serif;
  color: white;
}
#catSkiing .dia1 .dia1__imagen1 img {
  width: 100%;
  height: auto;
}
#catSkiing .dia2 h4 {
  font-family: "lemon milk";
  font-size: 1.3rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
}
#catSkiing .dia2 p {
  text-align: justify;
  font: normal 1rem "Poppins", sans-serif;
  color: white;
}
#catSkiing .dia2 .dia2__imagen2 img {
  width: 100%;
  height: auto;
}

/* HELISKIING */
#heliSkiing {
  margin: 50px 0 100px 0;
}
#heliSkiing h2 {
  margin: 0 15px;
  font: bold 2.5rem "lemon milk";
  color: #2096fd;
  text-align: center;
}
@media (max-width: 768px) {
  #heliSkiing h2 {
    font-size: 2rem;
  }
}
#heliSkiing .dia1 h4 {
  font-family: "lemon milk";
  font-size: 1.3rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
}
#heliSkiing .dia1 p {
  text-align: justify;
  font: normal 1rem "Poppins", sans-serif;
  color: white;
}
#heliSkiing .dia1 .dia1__imagen1 img {
  width: 100%;
  height: auto;
}
#heliSkiing .dia2 h4 {
  font-family: "lemon milk";
  font-size: 1.3rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
}
#heliSkiing .dia2 p {
  text-align: justify;
  font: normal 1rem "Poppins", sans-serif;
  color: white;
}
#heliSkiing .dia2 .dia2__imagen2 img {
  width: 100%;
  height: auto;
}

/* AVENTURA COMPLETA */
#aventura {
  margin: 50px 0 100px 0;
}
#aventura h2 {
  margin: 0 15px;
  font: bold 2.5rem "lemon milk";
  color: #2096fd;
  text-align: center;
}
@media (max-width: 768px) {
  #aventura h2 {
    font-size: 2rem;
  }
}
#aventura .dia1 h4 {
  font-family: "lemon milk";
  font-size: 1.3rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
}
#aventura .dia1 p {
  text-align: justify;
  font: normal 1rem "Poppins", sans-serif;
  color: white;
}
#aventura .dia1 .dia1__imagen1 img {
  width: 100%;
  height: auto;
}
#aventura .dia2 h4 {
  font-family: "lemon milk";
  font-size: 1.3rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
}
#aventura .dia2 p {
  text-align: justify;
  font: normal 1rem "Poppins", sans-serif;
  color: white;
}
#aventura .dia2 .dia2__imagen2 img {
  width: 100%;
  height: auto;
}
#aventura .dia3 h4 {
  font-family: "lemon milk";
  font-size: 1.3rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
}
#aventura .dia3 p {
  text-align: justify;
  font: normal 1rem "Poppins", sans-serif;
  color: white;
}
#aventura .dia3 .dia3__imagen3 img {
  width: 100%;
  height: auto;
}
#aventura .dia4 h4 {
  font-family: "lemon milk";
  font-size: 1.3rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
}
#aventura .dia4 p {
  text-align: justify;
  font: normal 1rem "Poppins", sans-serif;
  color: white;
}
#aventura .dia4 .dia4__imagen4 img {
  width: 100%;
  height: auto;
}
#aventura .dia5 h4 {
  font-family: "lemon milk";
  font-size: 1.3rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
}
#aventura .dia5 p {
  text-align: justify;
  font: normal 1rem "Poppins", sans-serif;
  color: white;
}
#aventura .dia5 .dia5__imagen5 img {
  width: 100%;
  height: auto;
}
#aventura .dia6 h4 {
  font-family: "lemon milk";
  font-size: 1.3rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
}
#aventura .dia6 p {
  text-align: justify;
  font: normal 1rem "Poppins", sans-serif;
  color: white;
}
#aventura .dia6 .dia6__imagen6 img {
  width: 100%;
  height: auto;
}

/* TRAER Y NO TRAER */
.servicios {
  background: linear-gradient(black, #2a62b2, black);
  color: white;
  font: normal 1rem "Poppins", sans-serif;
}
.servicios .servicios__noTraer {
  height: 350px;
}
.servicios .servicios__noTraer .noTraer__imagenes {
  display: flex;
  justify-content: space-around;
}
.servicios .servicios__noTraer .noTraer__imagenes .noTraer__img1 {
  width: 35%;
  height: auto;
}
.servicios .servicios__noTraer .noTraer__imagenes .noTraer__img1 img {
  width: 100%;
  height: auto;
}
.servicios .servicios__noTraer .noTraer__imagenes .noTraer__img2 {
  width: 35%;
  height: auto;
  align-self: flex-end;
}
.servicios .servicios__noTraer .noTraer__imagenes .noTraer__img2 img {
  width: 100%;
  height: auto;
}
.servicios .servicios__noTraer .noTraer__lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.servicios .servicios__noTraer .noTraer__lista h5 {
  font-family: "lemon milk";
  font-size: 1.1rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
  text-decoration: underline;
}
.servicios .servicios__traer {
  /* OVERFLOW HIDDEN SOLUCIONAR BUG DE FADE EN AOS */
  overflow-x: hidden;
  /* OVERFLOW HIDDEN SOLUCIONAR BUG DE FADE EN AOS */
  margin-top: 100px;
  height: 350px;
}
.servicios .servicios__traer .traer__lista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.servicios .servicios__traer .traer__lista h5 {
  font-family: "lemon milk";
  font-size: 1.1rem;
  font-weight: bold;
  color: #2096fd;
  text-align: center;
  text-decoration: underline;
}
.servicios .servicios__traer .traer__imagenes {
  display: flex;
  justify-content: space-around;
}
.servicios .servicios__traer .traer__imagenes .traer__img1 {
  width: 35%;
  height: auto;
}
.servicios .servicios__traer .traer__imagenes .traer__img1 img {
  width: 100%;
  height: auto;
}
.servicios .servicios__traer .traer__imagenes .traer__img2 {
  width: 35%;
  height: auto;
  align-self: flex-end;
}
.servicios .servicios__traer .traer__imagenes .traer__img2 img {
  width: 100%;
  height: auto;
}

/* BOTONES */
.botones {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-evenly;
}
.botones .botones__reservar {
  text-align: center;
}
.botones .botones__reservar p {
  margin-bottom: 3rem;
}
.botones .botones__reservar a {
  position: relative;
  color: white;
  font-family: "lemon milk";
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.5em rgb(32, 150, 253);
  background-color: rgb(42, 98, 178);
  border: 0.25em solid rgb(32, 150, 253);
  border-radius: 1em;
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 1em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  padding: 1em 2em;
}
.botones .botones__reservar a::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 98, 178, 0.781);
  filter: blur(2em);
  opacity: 0.7;
  pointer-events: none;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
.botones .botones__reservar a:hover {
  color: rgb(42, 98, 178);
  background-color: rgb(32, 150, 253);
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
}
.botones .botones__reservar a:active {
  box-shadow: 0 0 0.6em 0.25em rgb(32, 150, 253), 0 0 2.5em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.5em 0.25em rgb(32, 150, 253);
}
.botones .botones__paquetes {
  text-align: center;
}
.botones .botones__paquetes p {
  margin-bottom: 3rem;
}
.botones .botones__paquetes a {
  position: relative;
  color: white;
  font-family: "lemon milk";
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.5em rgb(32, 150, 253);
  background-color: rgb(42, 98, 178);
  border: 0.25em solid rgb(32, 150, 253);
  border-radius: 1em;
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 1em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  padding: 1em 2em;
}
.botones .botones__paquetes a::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 98, 178, 0.781);
  filter: blur(2em);
  opacity: 0.7;
  pointer-events: none;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
.botones .botones__paquetes a:hover {
  color: rgb(42, 98, 178);
  background-color: rgb(32, 150, 253);
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
}
.botones .botones__paquetes a:active {
  box-shadow: 0 0 0.6em 0.25em rgb(32, 150, 253), 0 0 2.5em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.5em 0.25em rgb(32, 150, 253);
}

#alojamiento {
  margin-top: 50px;
}
#alojamiento .alojamiento__section {
  font: normal 1rem "Poppins", sans-serif;
  color: white;
}
#alojamiento .alojamiento__section h2 {
  font: bold 2.5rem "lemon milk";
  color: #2096fd;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
}
@media (max-width: 768px) {
  #alojamiento .alojamiento__section h2 {
    font-size: 2rem;
  }
}
#alojamiento .alojamiento__section .section__domo {
  transition: all 0.5s;
}
#alojamiento .alojamiento__section .section__domo:hover {
  box-shadow: 0px 0px 16px 9px rgb(32, 150, 253);
}
#alojamiento .alojamiento__section .section__domo h3 {
  font-family: "lemon milk";
  font-size: 2.5rem;
  font-weight: bold;
  color: #2096fd;
  margin-top: 48px;
}
#alojamiento .alojamiento__section .section__domo .domo__lista ul {
  list-style-type: disclosure-closed;
  list-style-position: inside;
  padding: 0;
}
#alojamiento .alojamiento__section .section__domo .img__container .domo__imagenes {
  display: inline-block;
  width: 19%;
  height: auto;
}
#alojamiento .alojamiento__section .section__domo .img__container .domo__imagenes img {
  width: 100%;
  height: auto;
}
#alojamiento .alojamiento__section .section__cabana {
  margin-top: 30px;
  transition: all 0.5s;
}
#alojamiento .alojamiento__section .section__cabana:hover {
  box-shadow: 0px 0px 16px 9px rgb(32, 150, 253);
}
#alojamiento .alojamiento__section .section__cabana h3 {
  font-family: "lemon milk";
  font-size: 2.5rem;
  font-weight: bold;
  color: #2096fd;
}
@media (max-width: 768px) {
  #alojamiento .alojamiento__section .section__cabana h3 {
    margin-top: 48px;
  }
}
#alojamiento .alojamiento__section .section__cabana .cabana__lista ul {
  list-style-type: disclosure-closed;
  list-style-position: inside;
  padding: 0;
}
#alojamiento .alojamiento__section .section__cabana .img__container .cabana__imagenes {
  display: inline-block;
  width: 19%;
  height: auto;
}
#alojamiento .alojamiento__section .section__cabana .img__container .cabana__imagenes img {
  width: 100%;
  height: auto;
}

/* ANIMACION */
.wave {
  -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(0, 0, 0, 0.45));
  display: inline-block;
}

.wave span {
  display: inline-block;
  -webkit-animation: wave-anim 1s infinite;
          animation: wave-anim 1s infinite;
  -webkit-animation-delay: calc(0.1s * var(--item));
          animation-delay: calc(0.1s * var(--item));
}

@-webkit-keyframes wave-anim {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
    color: rgba(255, 255, 255, 0.822);
  }
}

@keyframes wave-anim {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
    color: rgba(255, 255, 255, 0.822);
  }
}
/* TERMINA ANIMACION */
/* GALERIA */
.banner-gale {
  background-image: url("../img/galeria/galeriabanner.jpg");
  background-position: center;
}

#galeria {
  margin-top: 50px;
}
#galeria h2 {
  font: bold 2.5rem "lemon milk";
  text-align: center;
  color: #2096fd;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  #galeria h2 {
    font-size: 2rem;
  }
}
#galeria .modal__container {
  z-index: 10000;
}
#galeria .modal__container .modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  box-shadow: none;
  transition: all 0.3s;
}
#galeria .modal__container .modal__close:hover {
  transform: scale(1.3);
}

#reservar {
  margin-top: 50px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  align-content: center;
}
#reservar h2 {
  font: bold 2.5rem "lemon milk";
  margin: 35px 0;
  color: #2096fd;
}
@media (max-width: 768px) {
  #reservar h2 {
    font-size: 2rem;
  }
}
#reservar .reservar__form form {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  color: white;
  text-align: left;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
#reservar .reservar__form form label,
#reservar .reservar__form form h5 {
  font-weight: bolder;
  margin: 0;
  font-size: 0.8rem;
}
#reservar .reservar__form form input {
  display: block;
  width: 100%;
  margin-top: 3px;
  color: rgb(211, 205, 205);
}
#reservar .reservar__form form select {
  display: block;
  width: 100%;
  margin-top: 3px;
  color: rgb(211, 205, 205);
}
#reservar .reservar__form form .form__nivel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#reservar .reservar__form form .form__nivel div input {
  width: auto;
  margin: 0 10px 0 30px;
  cursor: pointer;
}
#reservar .reservar__form form .form__nivel div label {
  font-weight: normal;
  color: rgb(211, 205, 205);
}
#reservar .reservar__form form textarea {
  color: rgb(211, 205, 205);
  border: 2px solid #2096fd;
  margin-top: 3px;
  width: 100%;
}
#reservar .reservar__form form .form__button {
  margin: 20px 0;
  align-self: flex-end;
}
#reservar .reservar__form form .form__button input {
  position: relative;
  color: white;
  font-family: "lemon milk";
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 0.5em rgb(32, 150, 253);
  background-color: rgb(42, 98, 178);
  border: 0.25em solid rgb(32, 150, 253);
  border-radius: 1em;
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 1em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  padding: 0.5em 1em;
}
#reservar .reservar__form form .form__button input::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 98, 178, 0.781);
  filter: blur(2em);
  opacity: 0.7;
  pointer-events: none;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}
#reservar .reservar__form form .form__button input:hover {
  color: rgb(42, 98, 178);
  background-color: rgb(32, 150, 253);
  box-shadow: 0 0 1em 0.25em rgb(32, 150, 253), 0 0 4em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.75em 0.25em rgb(32, 150, 253);
}
#reservar .reservar__form form .form__button input:active {
  box-shadow: 0 0 0.6em 0.25em rgb(32, 150, 253), 0 0 2.5em 2em rgba(42, 98, 178, 0.781), inset 0 0 0.5em 0.25em rgb(32, 150, 253);
}

#indicaciones {
  background: linear-gradient(black, #2a62b2, black);
  padding: 0;
}
#indicaciones .indicaciones__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  max-width: 1500px;
  margin: 0 auto 30px;
}
#indicaciones .indicaciones__container h2 {
  font: bold 2.5rem "lemon milk";
  letter-spacing: 2px;
  text-align: center;
  color: white;
  width: 50%;
}
@media (max-width: 768px) {
  #indicaciones .indicaciones__container h2 {
    font-size: 2rem;
  }
}
#indicaciones .indicaciones__container .indicaciones__texto {
  width: 50%;
}
#indicaciones .indicaciones__container .indicaciones__texto p {
  font: normal 1rem "Poppins", sans-serif;
  color: white;
  padding: 0 100px;
  line-height: 1.7rem;
}
#indicaciones .indicaciones__container .indicaciones__img {
  width: 50%;
}
#indicaciones .indicaciones__container .indicaciones__img img {
  width: 100%;
  height: auto;
}

#mediosContacto h2 {
  font: bold 2.5rem "lemon milk";
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
  color: #2096fd;
}
@media (max-width: 768px) {
  #mediosContacto h2 {
    font-size: 2rem;
  }
}
#mediosContacto .mediosContacto__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
@media (max-width: 992px) {
  #mediosContacto .mediosContacto__container {
    gap: 50px;
  }
}
#mediosContacto .mediosContacto__container article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
@media (max-width: 992px) {
  #mediosContacto .mediosContacto__container article {
    gap: 30px;
  }
}
#mediosContacto .mediosContacto__container article .contacto__medios {
  display: flex;
  align-items: center;
  gap: 30px;
}
#mediosContacto .mediosContacto__container article .contacto__medios .medios__img {
  width: 50px;
  height: auto;
}
#mediosContacto .mediosContacto__container article .contacto__medios .medios__img i {
  color: white;
  font-size: 3.5rem;
}
#mediosContacto .mediosContacto__container article .contacto__medios .medios__img i.fa-regular {
  font-size: 3rem;
}
#mediosContacto .mediosContacto__container article .contacto__medios p {
  font: normal 1rem "Poppins", sans-serif;
  color: white;
  margin-bottom: 0;
}

#footer {
  margin-top: 50px;
  padding: 20px 0;
  background-image: url("../img/footer-back.jpg");
  background-size: contain;
}
#footer .footer__logo {
  width: 200px;
  height: auto;
  margin: auto;
}
#footer .footer__logo a img {
  width: 100%;
  height: auto;
}
#footer .footer__copyright p {
  text-align: center;
  font-family: "lemon milk";
  font-size: 0.9rem;
  color: black;
  font-weight: bold;
}
#footer .footer__redes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 32px;
}
#footer .footer__qr {
  width: 150px;
  height: auto;
}
#footer .footer__qr img {
  width: 100%;
  height: auto;
}
#footer .footer__scrollup {
  position: fixed;
  right: 35px;
  bottom: 35px;
  z-index: 500;
  width: 70px;
  height: auto;
}
#footer .footer__scrollup img {
  width: 100%;
  height: auto;
}

/*---------------- MEDIA QUERY 992 ----------------*/
@media (max-width: 992px) {
  /* NAVBAR */
  #menu_on {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: fixed;
    z-index: 400;
    top: 40px;
    left: 30px;
    transition: all 0.4s ease-in-out;
  }
  #menu_on > span {
    width: 28px;
    height: 2px;
    border-radius: 9999px;
    display: block;
    background: #fff;
    transition: all 0.4s ease-in-out;
  }
  #menu_on > span:not(last-child) {
    margin-bottom: 7px;
  }
  nav {
    font-family: "lemon milk";
    position: fixed;
    top: 0;
    bottom: 0;
    left: -50%;
    width: 35%;
    height: 100vh;
    z-index: 100;
    padding: 90px 20px 30px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), #2a62b2, rgba(0, 0, 0, 0.8));
    opacity: 0;
    transition: all 0.8s ease;
    font-size: 1em;
    overflow-y: auto;
  }
  .visible_menu #menu_on {
    transition-delay: 0.8s;
    transform: rotate(45deg);
  }
  .visible_menu #menu_on > span:nth-child(2) {
    width: 0;
  }
  .visible_menu #menu_on > span:nth-child(1),
.visible_menu #menu_on > span:nth-child(3) {
    transition-delay: 0.4s;
  }
  .visible_menu #menu_on > span:nth-child(1) {
    transform: translateY(9px);
  }
  .visible_menu #menu_on > span:nth-child(3) {
    transform: translateY(-9px) rotate(90deg);
  }
  .visible_menu #header .logo__mobile {
    width: 65%;
    right: 0;
  }
  .visible_menu #header .logo__mobile img {
    transform: translateX(15vw);
  }
  .visible_menu nav {
    left: 0;
    opacity: 1;
    box-shadow: 8px 0px 15px rgb(32, 150, 253);
  }
  #header {
    display: flex;
    justify-content: center;
  }
  #header .header__menu button {
    background-color: transparent;
    border: transparent;
    color: rgba(255, 255, 255, 0.75);
    outline: none;
    transition: all 0.3s;
  }
  #header .header__menu button:hover {
    color: rgb(255, 255, 255);
  }
  #header .header__menu a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: rgba(255, 255, 255, 0.75);
    transition: all ease 0.25s;
  }
  #header .header__menu a:hover {
    color: rgb(255, 255, 255);
  }
  #header .header__menu ul li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  #header .header__menu ul li:hover {
    border-bottom-color: rgba(255, 255, 255, 0.4);
  }
  #header .header__menu ul .menu__containerLogo {
    display: none;
  }
  #header .header__menu ul.menu__principal {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  #header .header__menu ul.menu__principal li ul {
    background: linear-gradient(rgb(0, 0, 0), #2a63b2, rgb(0, 0, 0));
    inset: 0px auto auto -15px !important;
  }
  #header .header__menu ul.menu__principal li ul li a {
    padding: 10px;
    color: rgba(255, 255, 255, 0.75);
    transition: all ease 0.25s;
    font-size: 0.8rem;
  }
  #header .header__menu ul.menu__principal li ul li a:hover {
    color: rgb(255, 255, 255);
  }
  #header .header__menu .menu__redes {
    margin-top: 70px;
  }
  #header .header__menu .menu__redes ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
  }
  #header .header__menu .menu__redes ul li {
    list-style: none;
    border: none;
    width: 34px;
    text-align: center;
  }
  #header .header__menu .menu__redes ul li a {
    padding: 0;
  }
  #header .header__menu .menu__redes ul li a span {
    color: rgba(255, 255, 255, 0.75);
    font-size: 30px;
  }
  #header .header__menu .menu__redes ul li a span:hover {
    color: rgb(255, 255, 255);
  }
  #header .logo__mobile {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    z-index: 5;
    width: 100vw;
    transition: all 0.8s ease;
  }
  #header .logo__mobile img {
    width: 200px;
    transition: all 0.8s ease;
  }
  #header .logo__mobile.menuBg {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 8px 15px rgb(32, 150, 253);
  }
  /*TERMINA NAVBAR */
  /* INDEX */
  .container__banner {
    height: 80vh;
  }
  .container__banner .banner {
    height: 80vh;
  }
  .container__banner .banner h2 {
    font-size: 2rem;
    letter-spacing: 1.5rem;
  }
  #principal {
    position: absolute;
    top: 0;
    height: 100vh;
    justify-content: center;
    margin-top: 0;
    gap: 50px;
  }
  #principal h2 {
    width: 90%;
    font-weight: bolder;
    margin-bottom: 0;
    text-shadow: 0 0 3px #000000;
  }
  #principal .principal__texto ~ .principal__boton {
    width: 100%;
  }
  #principal .principal__texto p {
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 0 0 0.5em #000000;
  }
  #indexPaquetes {
    margin-top: 0;
  }
  #indexPaquetes .indexPaquetes__imagenes .imagenes__container a {
    opacity: 1;
    font-size: 1.7rem;
    letter-spacing: 3px;
    color: rgba(230, 230, 250, 0.8196078431);
    text-shadow: 0 0 0.5em #000000;
  }
  #testimonios .testimonios__container {
    flex-direction: column;
    gap: 20px;
  }
  #testimonios .testimonios__container .testimonios__item {
    align-self: center;
  }
  #indexUbicacion {
    flex-direction: column;
  }
  #indexUbicacion .indexUbicacion__mapa {
    width: 80%;
    height: 250px;
    text-align: center;
  }
  #indexUbicacion .indexUbicacion__formulario {
    width: 80%;
    order: -1;
    margin-bottom: 30px;
  }
  /* TERMINA INDEX */
  /* PAQUETES */
  .jornadaIdeal p {
    width: 80%;
  }
  #paquetes .indexPaquetes__imagenes .imagenes__container a {
    opacity: 1;
    font-size: 1.7rem;
    letter-spacing: 3px;
    color: rgba(230, 230, 250, 0.8196078431);
    text-shadow: 0 0 0.5em #000000;
  }
  #paquetes .paquetes__texto .texto__paq {
    width: 50%;
  }
  /* TRA, CAT, HELI, AVE */
  .nextBack {
    display: none;
  }
  #travesia .dia2 .dia2__imagen2,
#catSkiing .dia2 .dia2__imagen2,
#heliSkiing .dia2 .dia2__imagen2 {
    order: -1;
  }
  #aventura .dia2 .dia2__imagen2 {
    order: -1;
  }
  #aventura .dia4 .dia4__imagen4 {
    order: -1;
  }
  #aventura .dia6 .dia6__imagen6 {
    order: -1;
  }
  .servicios .servicios__noTraer {
    gap: 20px;
    flex-direction: column-reverse;
    height: auto;
  }
  .servicios .servicios__traer {
    gap: 20px;
    height: auto;
    margin-top: 30px;
  }
  .servicios .servicios__traer .traer__lista h5 {
    color: black;
  }
  .botones {
    flex-direction: column-reverse;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .botones .botones__paquetes p {
    margin-top: 2rem;
  }
  /*TERMINA TRA, CAT, HELI, AVE */
  /* CONTACTO */
  #indicaciones .indicaciones__container .indicaciones__texto p {
    padding: 0 10px;
  }
  /* TERMINA CONTACTO */
  /* FOOTER */
  #footer .footer__qr {
    display: none;
  }
  #footer .footer__redes {
    align-items: flex-end;
    flex-direction: row;
  }
  /* TERMINA FOOTER */
}
/*---------------- MEDIA QUERY 786 ----------------*/
@media (max-width: 786px) {
  #header .header__barra {
    display: none;
  }
  #footer .footer__logo {
    width: 150px;
    height: auto;
  }
}
/*---------------- MEDIA QUERY 768 ----------------*/
@media (max-width: 768px) {
  .container__banner {
    height: 40vh;
  }
  .container__banner .banner {
    height: 40vh;
  }
  #indexUbicacion .indexUbicacion__mapa {
    height: 200px;
  }
  #indexPaquetes .indexPaquetes__imagenes .imagenes__container,
#paquetes .indexPaquetes__imagenes .imagenes__container {
    box-shadow: 0px 0px 16px 9px rgb(32, 150, 253);
    width: 100%;
  }
  #indexPaquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img1,
#indexPaquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img2,
#indexPaquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img3,
#indexPaquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img4,
#paquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img1,
#paquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img2,
#paquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img3,
#paquetes .indexPaquetes__imagenes .imagenes__container .imagenes__img4 {
    height: 25vh;
    background-position: center;
  }
  #alojamiento .alojamiento__section .section__domo .img__container {
    display: none;
  }
  #alojamiento .alojamiento__section .section__domo .domo__lista ul {
    margin-bottom: 50px;
  }
  #alojamiento .alojamiento__section .section__cabana .img__container {
    display: none;
  }
  #alojamiento .alojamiento__section .section__cabana .cabana__lista ul {
    margin-bottom: 50px;
  }
  #indicaciones .indicaciones__container {
    flex-direction: column;
  }
  #indicaciones .indicaciones__container h2 {
    width: 100%;
    order: -2;
    color: #2096fd;
    margin-bottom: 30px;
  }
  #indicaciones .indicaciones__container .indicaciones__texto {
    width: 100%;
    order: -1;
    margin-bottom: 20px;
    text-align: center;
  }
  #indicaciones .indicaciones__container .indicaciones__img {
    width: 100%;
  }
  #mediosContacto .mediosContacto__container {
    background: linear-gradient(black, #2a62b2, black);
    gap: 50px;
  }
  #mediosContacto .mediosContacto__container article {
    gap: 30px;
  }
  #footer .footer__scrollup {
    right: 10px;
    bottom: 50px;
    width: 50px;
    height: auto;
  }
  #footer .footer__redes a img {
    width: 25px;
    height: 25px;
  }
}
/*---------------- MEDIA QUERY 576 ----------------*/
@media (max-width: 576px) {
  .visible_menu #header .logo__mobile {
    width: 50%;
    right: 0;
  }
  .visible_menu #header .logo__mobile img {
    transform: translateX(5vw);
  }
  nav {
    width: 50%;
  }
  #header .logo__mobile {
    height: 100px;
    z-index: 5;
  }
  #header .logo__mobile img {
    width: 120px;
    height: auto;
  }
  .container__banner .banner h2 {
    letter-spacing: 0.5rem;
  }
  #principal {
    gap: 30px;
  }
  #principal .principal__texto {
    width: 80%;
  }
  #principal .principal__texto p {
    line-height: 25px;
  }
  #indexUbicacion .indexUbicacion__newsletter .newsletter__formulario .button {
    margin-left: auto;
  }
  #paquetes .paquetes__texto .texto__paq {
    width: 70%;
  }
  #travesia .dia1,
#travesia .dia2,
#catSkiing .dia1,
#catSkiing .dia2,
#heliSkiing .dia1,
#heliSkiing .dia2,
#aventura .dia1,
#aventura .dia2,
#aventura .dia3,
#aventura .dia4,
#aventura .dia5,
#aventura .dia6 {
    max-width: 330px;
  }
  #indexUbicacion .indexUbicacion__newsletter p {
    width: 80%;
  }
  #indexUbicacion .indexUbicacion__newsletter .newsletter__formulario input {
    width: 250px;
  }
  #indexUbicacion .indexUbicacion__newsletter .newsletter__formulario .button {
    margin-top: 20px;
  }
  #reservar {
    padding: 0 20px;
  }
  #reservar .reservar__form form .form__button {
    align-self: center;
  }
  #mediosContacto h2 {
    padding: 0 15px;
  }
  #mediosContacto .mediosContacto__container article .contacto__medios .medios__img {
    width: 35px;
    height: auto;
  }
  #mediosContacto .mediosContacto__container .mediosContacto__mapa iframe {
    width: 270px;
    height: 270px;
  }
  #footer .footer__logo {
    width: 75px;
    height: auto;
  }
  #footer .footer__redes a img {
    width: 15px;
    height: 15px;
  }
  html {
    font-size: 70%;
  }
}
/* ---------- MEDIA QUERY MOBILE HEIGHT---------- */
@media (max-height: 600px) {
  #principal .principal__texto p:last-child {
    display: none;
  }
}
/* ---------- MEDIA QUERY MOBILE HEIGHT---------- */
@media (max-height: 500px) {
  #principal .principal__texto p {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */